/*
Check Point - SASE Public API

The YAML for Check Points SASE Public API

API version: 3.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package perimeter81sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SettingsAPIService SettingsAPI service
type SettingsAPIService service

type ApiGetSupportOptionsRequest struct {
	ctx context.Context
	ApiService *SettingsAPIService
	xAuthLambdaAuthorization *string
}

func (r ApiGetSupportOptionsRequest) XAuthLambdaAuthorization(xAuthLambdaAuthorization string) ApiGetSupportOptionsRequest {
	r.xAuthLambdaAuthorization = &xAuthLambdaAuthorization
	return r
}

func (r ApiGetSupportOptionsRequest) Execute() (*SupportOptionsResponse, *http.Response, error) {
	return r.ApiService.GetSupportOptionsExecute(r)
}

/*
GetSupportOptions Get end users support information settings

Get end users support information settings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSupportOptionsRequest
*/
func (a *SettingsAPIService) GetSupportOptions(ctx context.Context) ApiGetSupportOptionsRequest {
	return ApiGetSupportOptionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SupportOptionsResponse
func (a *SettingsAPIService) GetSupportOptionsExecute(r ApiGetSupportOptionsRequest) (*SupportOptionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupportOptionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SettingsAPIService.GetSupportOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/account/customize/support-options"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthLambdaAuthorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-lambda-authorization", r.xAuthLambdaAuthorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateSupportOptionsRequest struct {
	ctx context.Context
	ApiService *SettingsAPIService
	supportOptionsRequest *SupportOptionsRequest
	xAuthLambdaAuthorization *string
}

func (r ApiUpdateSupportOptionsRequest) SupportOptionsRequest(supportOptionsRequest SupportOptionsRequest) ApiUpdateSupportOptionsRequest {
	r.supportOptionsRequest = &supportOptionsRequest
	return r
}

func (r ApiUpdateSupportOptionsRequest) XAuthLambdaAuthorization(xAuthLambdaAuthorization string) ApiUpdateSupportOptionsRequest {
	r.xAuthLambdaAuthorization = &xAuthLambdaAuthorization
	return r
}

func (r ApiUpdateSupportOptionsRequest) Execute() (*SupportOptionsResponse, *http.Response, error) {
	return r.ApiService.UpdateSupportOptionsExecute(r)
}

/*
UpdateSupportOptions Update end users support information settings

Update end users support information settings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateSupportOptionsRequest
*/
func (a *SettingsAPIService) UpdateSupportOptions(ctx context.Context) ApiUpdateSupportOptionsRequest {
	return ApiUpdateSupportOptionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SupportOptionsResponse
func (a *SettingsAPIService) UpdateSupportOptionsExecute(r ApiUpdateSupportOptionsRequest) (*SupportOptionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupportOptionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SettingsAPIService.UpdateSupportOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/account/customize/support-options"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.supportOptionsRequest == nil {
		return localVarReturnValue, nil, reportError("supportOptionsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuthLambdaAuthorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-lambda-authorization", r.xAuthLambdaAuthorization, "simple", "")
	}
	// body params
	localVarPostBody = r.supportOptionsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
